@model AM.Web.Models.AgreementModel
@using AM.Web.Shared
<link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
<form id="add-update-agreement">
    <div class="modal-body">
        <input class="form-control" value="@Model.id" name="Id" id="Id" type="hidden">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Group<span class="text-danger">*</span></label>
                    <select placeholder="Group" id="productGroupList" name="ProductGroupId" class="form-control" required>
                        <option selected disabled>--Select--</option>
                        @foreach (var item in Model.ProductGroupList)
                        {
                            @if (item.Selected)
                            {
                                <option selected value="@item.Value">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Product<span class="text-danger">*</span></label>
                    <select placeholder="Product" id="productsList" name="ProductId" class="form-control" required>
                        <option disabled selected>--Select--</option>
                        @foreach (var item in Model.ProductsList)
                        {
                            @if (item.Selected)
                            {
                                <option selected value="@item.Value">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Effective Date<span class="text-danger">*</span></label>
                    <input class="form-control" required id="effectiveDate" value="@Model.EffectiveDateString" name="effectiveDate" placeholder="Effective Date" type="date">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Expiration Date<span class="text-danger">*</span></label>
                    <input class="form-control" required id="expirationDate" value="@Model.ExpirationDateString" name="expirationDate" placeholder="Expiration Date" type="date">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Product Price<span class="text-danger">*</span></label>
                    @if (Model.ProductPrice > 0)
                    {
                        <input class="form-control" required id="price" value="@Model.ProductPrice" name="productPrice" placeholder="Price" type="text">
                    }
                    else
                    {
                        <input class="form-control" required id="price" value="" name="productPrice" placeholder="Price" type="text">
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>New Price<span class="text-danger">*</span></label>
                    @if (Model.NewPrice > 0)
                    {
                        <input class="form-control" required id="newprice" value="@Model.NewPrice" name="newPrice" placeholder="Price" type="text">
                    }
                    else
                    {
                        <input class="form-control" required id="newprice" value="" name="newPrice" placeholder="Price" type="text">
                    }
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-2">Active</div>
            <div class="col-9">
                <div class="form-group">
                    @if (Model.id > 0)
                    {
                        if (Model.Active)
                        {
                            <input class="checkBoxSize"  id="active" value="@Model.NewPrice" name="active" checked="checked" placeholder="Price" type="checkbox">
                        }
                        else
                        {
                            <input class="checkBoxSize"  id="active" value="@Model.NewPrice" name="active" placeholder="Price" type="checkbox">
                        }
                    }
                    else
                    {
                        <input class="checkBoxSize"  id="active" value="" name="active" checked="checked" type="checkbox">
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveAgreement(@Model.id)">
            @(@Model.id > 0?"Update":"Save")
        </button>
    </div>
</form>
<script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
