@model IEnumerable<AM.Web.Models.AgreementModel>
@using AM.Web.Shared
@{
    ViewData["Title"] = "Agreement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3>@ViewData["Title"] <a class="btn btn-primary submit-btn float-right" onclick="openAgreementModal(0)" data-toggle="modal" data-target="#agreementModal"> Add Agreement</a></h3>
    </div>
    <div class="card-body">
        <table class="table table-striped custom-table mb-0 " id="agreement-data-table">
            <thead>
                <tr>
                    <th>Product </th>
                    <th>Product Number </th>
                    <th>Group</th>
                    <th>Price</th>
                    <th>New Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Product.ProductDescription</td>
                        <td>@item.Product.ProductNumber</td>
                        <td>@item.ProductGroup.GroupDescription</td>
                        <td>@item.ProductPrice</td>
                        <td>@item.NewPrice</td>
                        @*<td class="text-right">
                                <div>
                                    <a title="Edit" class="link-color" onclick=" GetClients('@client.Id')" href="#" data-toggle="modal" data-target="#edit-client-modal"><i class="fa fa-edit m-r-5"></i> </a>
                                    <a title="Delete" class="link-color" style="cursor:pointer" href="#" onclick="DeleteClients('@client.Id')"><i class="fa fa-trash-o m-r-5"></i> </a>
                                </div>
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="agreementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Agreement</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body-content">

            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/custom/agreement.js"></script>